parameters:
  symfony:
      container_xml_path: ../../var/cache/dev/Kaudaj_PrestaShopMaker_KernelDevDebugContainer.xml
  scanDirectories:
      - ../../var/cache/dev/Symfony/Config
  paths:
    - ../../src
  level: 8
  ignoreErrors:
    -
      message: '#Variable \$[a-zA-Z0-9\\_]+ might not be defined.#'
      path: ../../src/Resources/skeleton/*
    - '#Call to an undefined method ReflectionType::getName\(\).#'
